body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav, footer{
    width: 100%;
    background: #EB1C24;
    display: flex;
    justify-content: space-between;
}

.nav{
    cursor: pointer;
    margin: 10px;
    
}

.ttb{
    max-width: 50%;
}

h3{
    text-align: center;
}

img{
    max-width: 100%;
}

.logo{
    width: 6em;
}

ul{
    display: none;
}

ul li{
    list-style: none;
    margin: 20px 0;
    font-size: 30px;
}

ul li a{
    text-decoration: none;
    color: black;
}

.line{
    width: 30px;
    height: 5px;
    background: black;
    margin: 5px;
}

.ttb{
    max-width: 100%;
}

.nav{
    margin: 10px;
}
/*Above code*/

.modal{
    display: none;
}


.images, .images2{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.images img, .images2 img{
    max-width: 80%; 
}

p{
    font-size: 30px;
    max-width: 500px;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    display: none;
}

.menu2, .quant{
    display: flex;
}

.menu2{
    justify-content: space-between;
    width: 100%;
}

.quant{
    width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
}

.container h3{
    margin: 0 auto;
}

.container p{
    margin: 50px auto;
}

.top a, .btm a{
    padding: 20px;
    background: #DEA0B7;
    text-decoration: none;
    font-size: 30px;
    color: black;
    text-align: center;
    width: 200px;
    align-self: center;
}

.top, .mid{
    padding: 50px;
}

.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top h3{
    font-family: BodegaSerif;
    font-size: 80px;
    line-height: 1.2em;
}

.top span{
    color: #EB1C24;
}

.mid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #EB1C24;
    max-height: 40%;
    
  
}

.btm{
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btm h3{
    font-size: 50px;
    color: #EB1C24;
}

.btm span{
    color: black;
}

.btm img{
    max-width: 100%;
}

footer{
    justify-content: center;
}

footer img{
    width: 50px;
    height: 50px;
    margin: 5px;
}



@media(min-width: 800px){
.top, .mid{
    display: flex;
    flex-direction: row;
}



.top img{
    width: 100%;
    min-width: 50%;
}


.nav{
    display: none;
}

ul{
    display: block;
    width: 100%;
    text-align: center;
   margin: auto;
}

ul li{
    display: inline;
    margin: 30px;
    font-size: 20px;
}
.btm img{
    margin-left: auto;
    margin-right: auto;
}

.top img{
max-width: 60%;
}
}
